<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.cloudbees.plugins.deployer.DeployNowJobProperty plugin="deployer-framework@1.3">
      <oneClickDeploy>false</oneClickDeploy>
      <hosts/>
    </com.cloudbees.plugins.deployer.DeployNowJobProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.plugins.disk__usage.DiskUsageProperty plugin="disk-usage@0.28"/>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.5.19">
      <gitLabConnection></gitLabConnection>
      <jobCredentialId></jobCredentialId>
      <useAlternativeCredential>false</useAlternativeCredential>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <com.synopsys.arc.jenkins.plugins.ownership.jobs.JobOwnerJobProperty plugin="ownership@0.13.0"/>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>GITREPO</name>
          <description>This is the git repo where backup_xx branches will be created remotely.</description>
          <defaultValue>git@gitlab.pitneycloud.com:fusion-platform/fusion-jaas.git</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GITUSER_NAME</name>
          <description>This is Git user name which will be used to store commit info</description>
          <defaultValue>nexusdeploy-s</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GITUSER_EMAIL</name>
          <description>This is git email that will be used to specify commit info</description>
          <defaultValue>karan.sharma1@pb.com</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GITREPO_ID</name>
          <description></description>
          <defaultValue>5000</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>GITURL</name>
          <description></description>
          <defaultValue>https://gitlab.pitneycloud.com</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.7.0">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <name>origin</name>
        <url>https://gitlab.pitneycloud.com/fusion-platform/fusion-jaas.git</url>
        <credentialsId>FusionBackup</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.UserIdentity>
        <name>${GITUSER_NAME}</name>
        <email>${GITUSER_EMAIL}</email>
      </hudson.plugins.git.extensions.impl.UserIdentity>
    </extensions>
  </scm>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>H 22 * * 6</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>/usr/tmp/backupjenkins</customWorkspace>
  <builders>
    <hudson.plugins.groovy.SystemGroovy plugin="groovy@2.3">
      <source class="hudson.plugins.groovy.StringSystemScriptSource">
        <script plugin="script-security@1.76">
          <script>import jenkins.model.Jenkins
def filename = &apos;/var/lib/jenkins/plugins.txt&apos;
def file = new File(filename)
def w = file.newWriter()
Jenkins.instance.pluginManager.plugins.each{ 
  plugin -&gt;
  w &lt;&lt;(&quot;${plugin.getShortName()}:${plugin.getVersion()}&quot;+&quot;\n&quot;)
}
w.close()
println &quot;&quot;</script>
          <sandbox>false</sandbox>
        </script>
      </source>
    </hudson.plugins.groovy.SystemGroovy>
    <hudson.tasks.Shell>
      <command>cp -rf /var/lib/jenkins/jobs /usr/tmp/backupjenkins/jenkins-master-config/configuration/
cp -rf /var/lib/jenkins/nodes /usr/tmp/backupjenkins/jenkins-master-config/configuration/
cp -rf /var/lib/jenkins/plugins.txt /usr/tmp/backupjenkins/jenkins-master-config/</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>cd /usr/tmp/backupjenkins/
git branch backupjenkins-$BUILD_NUMBER
git checkout backupjenkins-$BUILD_NUMBER
git add .
git commit -m &quot;Commit for backupjenkins-$BUILD_NUMBER&quot;
#Compute RESULT as the backup branch to be deleted
a=10
RESULT=`expr $BUILD_NUMBER - $a`
echo RESULT=${RESULT} &gt; propsfile </command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <EnvInjectBuilder plugin="envinject@2.3.0">
      <info>
        <propertiesFilePath>propsfile</propertiesFilePath>
      </info>
    </EnvInjectBuilder>
  </builders>
  <publishers>
    <hudson.plugins.git.GitPublisher plugin="git@4.7.0">
      <configVersion>2</configVersion>
      <pushMerge>false</pushMerge>
      <pushOnlyIfSuccess>true</pushOnlyIfSuccess>
      <forcePush>true</forcePush>
      <branchesToPush>
        <hudson.plugins.git.GitPublisher_-BranchToPush>
          <targetRepoName>origin</targetRepoName>
          <branchName>backupjenkins-$BUILD_NUMBER</branchName>
          <rebaseBeforePush>false</rebaseBeforePush>
        </hudson.plugins.git.GitPublisher_-BranchToPush>
      </branchesToPush>
    </hudson.plugins.git.GitPublisher>
    <hudson.plugins.postbuildtask.PostbuildTask plugin="postbuild-task@1.9">
      <tasks>
        <hudson.plugins.postbuildtask.TaskProperties>
          <logTexts>
            <hudson.plugins.postbuildtask.LogProperties>
              <logText>git commit</logText>
              <operator>AND</operator>
            </hudson.plugins.postbuildtask.LogProperties>
          </logTexts>
          <EscalateStatus>true</EscalateStatus>
          <RunIfJobSuccessful>true</RunIfJobSuccessful>
          <script>echo &quot;--------------------------------------&quot;&#xd;
echo BUILD_NUMBER:${BUILD_NUMBER}&#xd;
echo &quot;--------------------------------------&quot;&#xd;
echo RESULT:${RESULT}&#xd;
echo &quot;--------------------------------------&quot;&#xd;
echo &quot;--------------------------------------&quot;&#xd;
echo GITLAB_TOKEN:${GITLAB_TOKEN}&#xd;
echo &quot;--------------------------------------&quot;&#xd;
if [ $RESULT -gt 10 ]&#xd;
then&#xd;
curl --fail --location --request DELETE ${GITURL}/api/v4/projects/${GITREPO_ID}/repository/branches/backupjenkins-${RESULT} --header PRIVATE-TOKEN:${GITLAB_TOKEN}&#xd;
echo &quot;--------------------------------------&quot;&#xd;
echo &quot;--------------------------------------&quot;&#xd;
&#xd;
&#xd;
fi&#xd;
&#xd;
date</script>
        </hudson.plugins.postbuildtask.TaskProperties>
      </tasks>
    </hudson.plugins.postbuildtask.PostbuildTask>
    <com.dabsquared.gitlabjenkins.publisher.GitLabCommitStatusPublisher plugin="gitlab-plugin@1.5.19">
      <name>jenkins</name>
      <markUnstableAsSuccess>false</markUnstableAsSuccess>
    </com.dabsquared.gitlabjenkins.publisher.GitLabCommitStatusPublisher>
    <hudson.plugins.emailext.ExtendedEmailPublisher plugin="email-ext@2.82">
      <recipientList>viplove.vashishtha@pb.com</recipientList>
      <configuredTriggers>
        <hudson.plugins.emailext.plugins.trigger.FailureTrigger>
          <email>
            <subject>$PROJECT_DEFAULT_SUBJECT</subject>
            <body>$PROJECT_DEFAULT_CONTENT</body>
            <recipientProviders>
              <hudson.plugins.emailext.plugins.recipients.ListRecipientProvider/>
            </recipientProviders>
            <attachmentsPattern></attachmentsPattern>
            <attachBuildLog>false</attachBuildLog>
            <compressBuildLog>false</compressBuildLog>
            <replyTo>$PROJECT_DEFAULT_REPLYTO</replyTo>
            <contentType>project</contentType>
          </email>
        </hudson.plugins.emailext.plugins.trigger.FailureTrigger>
      </configuredTriggers>
      <contentType>default</contentType>
      <defaultSubject>$DEFAULT_SUBJECT</defaultSubject>
      <defaultContent>$DEFAULT_CONTENT</defaultContent>
      <attachmentsPattern></attachmentsPattern>
      <presendScript>$DEFAULT_PRESEND_SCRIPT</presendScript>
      <postsendScript>$DEFAULT_POSTSEND_SCRIPT</postsendScript>
      <attachBuildLog>false</attachBuildLog>
      <compressBuildLog>false</compressBuildLog>
      <replyTo>$DEFAULT_REPLYTO</replyTo>
      <from></from>
      <saveOutput>false</saveOutput>
      <disabled>false</disabled>
    </hudson.plugins.emailext.ExtendedEmailPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.ws__cleanup.PreBuildCleanup plugin="ws-cleanup@0.39">
      <deleteDirs>false</deleteDirs>
      <cleanupParameter></cleanupParameter>
      <externalDelete></externalDelete>
      <disableDeferredWipeout>false</disableDeferredWipeout>
    </hudson.plugins.ws__cleanup.PreBuildCleanup>
    <EnvInjectPasswordWrapper plugin="envinject@2.3.0">
      <injectGlobalPasswords>false</injectGlobalPasswords>
      <maskPasswordParameters>true</maskPasswordParameters>
      <passwordEntries>
        <EnvInjectPasswordEntry>
          <name>GITLAB_TOKEN</name>
          <value>{AQAAABAAAAAgohyKb9HsHofEIYsrXWR13DVtzi7Sng2H6W1WGhYDeBjpAut2zN+ap3a3YOYNs1AP}</value>
        </EnvInjectPasswordEntry>
      </passwordEntries>
    </EnvInjectPasswordWrapper>
  </buildWrappers>
</project>